<header class="box-shadow">
  <div class="container">
    <div class="logo-container" routerLink="/home">
      <img src="./images/logo.png" alt="logo" />
      <h1>MUSICAL EVENTS</h1>
    </div>
    <div id="search-container" class="search-container" [ngClass]="{ hidden: showLogoOnly }">
      <input type="text" placeholder="Search..." (input)="onInput($event)" />
      <!-- <input type="text" placeholder="Search..." [formControl]="searchControl" /> -->
    </div>    
    @if(authService.getIsLoggedIn()){
      <div class="name-container">
      <span>{{ authService.getName() + ' - ' + authService.getRole() }}</span>
    </div>
    <div class="buttons-container">
      <button
        mat-button
        class="primary"
        [routerLink]="authService.getRole() === 'Administrator' ? '/admin' : '/customer'"
      >
        MENU
      </button>
      <button mat-button class="primary" routerLink="/my-account">Account</button>
      <button mat-button class="accent" (click)="authService.logout()">Logout</button>
    </div>
    }@else{
    <div id="buttons-container" class="buttons-container" [ngClass]="{ hidden: showLogoOnly }">
      <button matButton class="primary" routerLink="/login">Login</button>
      <button matButton class="accent" routerLink="/register">Register</button>
    </div>
    }
    <!-- <div id="buttons-container" class="buttons-container" [ngClass]="{ hidden: showLogoOnly }">
      <button matButton class="primary" routerLink="/login">Login</button>
      <button matButton class="accent" routerLink="/register">Register</button>
    </div> -->
  </div>
</header>
