/* header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  font-family: "Segoe UI";
  font-size: 16px;
  margin: 0;
  flex-shrink: 0;
}

#logo-container {
  display: flex;
  align-items: center;
  width: 240px;
  cursor: pointer;
  gap: 10px;
}

#logo {
  width: 50px;
  height: 50px;
}

#title {
  color: white;
  font-family: "Segoe UI";
  font-size: 16px;
}

#input-container {
  margin-left: 50px;
  margin-right: 50px;
}

input {
  width: 400px;
  padding: 8px;
  border-radius: 8px;
}

#buttons-container {
  display: flex;
  width: 200px;
  gap: 30px;
  padding: 20px;
  justify-content: center;
}

#login {
  color: var(--primary-color);
  text-decoration: none;
}

#register {
  color: var(--accent-color);
  text-decoration: none;
} */

header {
  background-color: var(--secondary-color);
  height: 80px;
  display: flex;
  justify-content: center;
  & .container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      & img {
        width: 50px;
        height: 50px;
      }
      & h1 {
        font-size: 16px;
        color: white;
        font-weight: 500;
        margin: 0;
      }
    }
    & .search-container {
      display: flex;
      justify-content: center;
      width: 500px;
      & input {
        width: 400px;
        height: 30px;
        border-radius: 8px;
        padding-left: 10px;
      }
    }
    & .buttons-container {
      display: flex;
      justify-content: center;
      gap: 10px;
      & .primary {
        color: var(--primary-color);
      }
      & .accent {
        color: var(--accent-color);
      }
    }
    & .name-container{
       width: 50%;
      display: flex;
      justify-content: end;
      & span {
        color: white;
      }
    }
  }
}