<header class="box-shadow">
  <!-- <div id="logo-container" routerLink="/home">
    <img id="logo" src="./images/logo.png" alt="logo" />
    <h1 id="title">Music Events</h1>
  </div>
  <div id="input-container" [ngClass]="{ hidden: showLogoOnly }">
    <input id="search" type="text" placeholder="Buscar..." />
  </div>
  <div id="buttons-container" [ngClass]="{ hidden: showLogoOnly }">
    <a id="login" routerLink="/login" routerLink="/login" class="button">Login</a>
    <a id="register" routerLink="/register" routerLink="/register" class="button">Register</a>
  </div> -->
   <div class="container">
    <div class="logo-container" routerLink="/home">
      <img src="./images/logo.png" alt="logo" />
      <h1>MUSICAL EVENTS</h1>
    </div>
    <div class="search-container">
      <input type="text" placeholder="Search..." (input)="onInput($event)" />
       <!-- <input type="text" placeholder="Search..." [formControl]="searchControl" /> -->
    </div>
    <div class="buttons-container">
      <button matButton class="primary" routerLink="/login">Login</button>
      <button matButton class="accent" routerLink="/register">Register</button>
    </div>
  </div>
</header>
