:root {
  /* --mat-filled-button-container-color: var(--primary-color);
  --mdc-filled-button-label-text-color: var(--secondary-color);
  --mdc-filled-button-container-shape: 8px;
  --mat-filled-button-horizontal-padding: 12px;
  --mdc-filled-button-container-height: 30px;
  --mdc-filled-button-disabled-label-text-color: gray;
  --mdc-filled-button-disabled-container-color: darkgray; */


 /* Override material raised button colors */
.mat-mdc-raised-button:not(:disabled).mat-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
   /* font-weight:bold;  */
}
.mat-mdc-raised-button:not(:disabled).mat-secondary {
  background-color: var(--secondary-color);
  color: white;
}
.mat-mdc-raised-button:not(:disabled).mat-accent {
  background-color: var(--accent-color);
}

  /* background color of disabled button */
  .mat-mdc-raised-button[disabled], .mat-mdc-raised-button.mat-mdc-button-disabled {
    background-color: var(--primary-color);    
  } 
}