.container {
  width: 240px;
  height: 380px;
  background-color: var(--secondary-color);
  font-weight: 500;
  color: white;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  padding-left: 32px;
  & h2 {
    color: var(--primary-color);
    font-size: 20px;
  }
  & .content {
    margin-bottom: 32px;
    & .title {
      color: var(--primary-color);
    }
  }
  & .total {
    color: var(--primary-color);
    font-size: 18px;
    & span {
      color: var(--accent-color);
      margin-left: 10px;
    }
  }
}
