/* #container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 202px);
  & #header {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    & #title {
      margin-top: 20px;
      margin-left: 40px;
      & span {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  & #cards {
    margin-top: 20px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
  }
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: red !important;
} */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;  
  & .filter {
    width: 940px;
    display: flex;
    margin-top: 30px;    
    align-items: center;
    gap: 30px;
    flex-direction: row;
    justify-content:center;    
  }
  & .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* & .filter {
      width: 940px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      gap: 30px;
    } */
    & .event-list {
      width: 1000px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
      margin-bottom: 40px;

      & app-event-card {
        cursor: pointer;
        border-radius: 8px;
      }
    }
  }
}
