
<div class="page-container">  
  <app-header (searchValueChange)="onSearchBarValueChange($event)">
    
  </app-header>
  <div class="filter">
      <mat-form-field>
        <mat-label class="f">Musical genre</mat-label>
        <mat-select [formControl]="currentGenre">
          <mat-option [value]="0">Todos</mat-option>
          @for (genre of genres(); track genre.id){
          <mat-option [value]="genre.id">{{ genre.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <span appHighlightable>Selecciona tu genero musical favorito</span>
    </div>
  <div class="content-container">
    <!-- <div class="filter">
      <mat-form-field>
        <mat-label class="f">Musical genre</mat-label>
        <mat-select [formControl]="currentGenre">
          <mat-option [value]="0">Todos</mat-option>
          @for (genre of genres(); track genre.id){
          <mat-option [value]="genre.id">{{ genre.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <span>Selecciona tu genero musical favorito</span>
    </div> -->

    <div class="event-list">
      @if (initialConcerts && initialConcerts.length > 0){
          @for (concert of concerts(); track concert.id) {
      <app-concert-card appHighlightable [data]="concert"></app-concert-card>
      } @empty {
      <h2>No encontramos conciertos 🥲</h2>
      }
      }
      
    </div>
    
  </div>
<app-footer></app-footer>  
</div>

