.main-container {
  width: 300px;
  height: 820px;
  background-color: var(--secondary-color);
  border-radius: 8px;

  & .form-container {
    width: 100%;
    padding-top: 36px;
    text-align: center;
    & .title {
      color: var(--primary-color);
      font-weight: 500;
      font-size: 16px;
    }
    & form {
      margin-top: 20px;
      & mat-form-field {
        width: 240px;
      }
      & .email {
        margin-top: 8px;
      }
      & .document-type {
        margin-top: 8px;
      }
      & .password {
        margin-top: 8px;
        & .min-length-error {
          line-height: 14px;
        }
      }
      & button {
        margin-top: 10px;
        width: 240px;
      }
      & .login {
        margin-top: 18px;
        font-size: 12px;
        & span {
          color: white;
          & a {
            color: var(--accent-color);
            text-decoration: none;
          }
        }
      }
    }
  }
}