.main-container {
  width: 350px;  
  background-color: var(--secondary-color);
  border-radius: 8px;
  height: auto;
  /* flex-grow: 0;
  overflow-y: auto; */

  & .form-container {
    width: 100%;
    padding-top: 36px;
    text-align: center;
    margin-bottom: 10%;          
    & .title {
      color: var(--primary-color);
      font-weight: 500;
      font-size: 16px;
    }
    & form {
      margin-top: 20px;
      & mat-form-field {
        width: auto;        
      }
      & .email {
        margin-top: 8px;
      }
      & .document-type {
        margin-top: 8px;
      }
      & .password {
        margin-top: 8px;
        & .min-length-error {
          line-height: 14px;
        }
      }
      & .error-label{      
        color: var(--mat-sys-error);
        padding-bottom: 10px;
      }
      & mat-error{              
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }
      & button {
        margin-top: 10px;
        width: 240px;
      }
      & .login {
        margin-top: 18px;
        padding-bottom: 10%;
        font-size: 12px;
        & span {
          color: white;
          & a {
            color: var(--accent-color);
            text-decoration: none;
          }
        }
      }
      
    }
  }
}
/* .mat-mdc-raised-button[disabled], .mat-mdc-raised-button.mat-mdc-button-disabled {
  background-color: var(--primary-color);
} */

/* Added by ChrisL
.form-label-color {
  color: white;
}
.form-input-color {
  color: var(--primary-color) !important;
} */