.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & .navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    & .nav-item {
      height: 110px;
      background-color: var(--secondary-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      & img {
        height: 60px;
      }
      & span {
        color: white;
        font-weight: 500;
        margin-top: 8px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        line-height: 16px;
      }
    }
    & .my-purchases {
      width: 100px;
    }
    & .change-password {
      width: 140px;
    }
    & .active {
      background-color: var(--primary-color);
    }
  }
  & .current-content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    min-height: 620px;
    background-color: var(--secondary-color);
    border-radius: 8px;
  }
}
